<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details - Hunt Join</title>
</head>
<body>
    <p>Welcome! Do not share your player ID with anyone.</p>
    <p id="playerP">{{player_id}}</p>
    <p id="huntP">{{hunt_id}}</p>

    <form action="http://localhost:5000/current-riddle" method="POST">
        <label for="player-id">Player ID:</label>
        <input type="text" id="player-id" name="player_id">
        <label for="hunt-id">Hunt ID:</label>
        <input type="text" id="hunt-id" name="hunt_id">
        <br>
        <button type="submit">Submit to Current Riddle</button>
    </form>

    <script>
        const playerp = document.getElementById("playerP").innerHTML;
        localStorage.setItem("player-id", playerp);
        const huntp = document.getElementById("huntP").innerHTML;
        localStorage.setItem("hunt-id", huntp);

        // Autofill the player ID input field with the saved player-id from localStorage
        window.onload = function() {
            const playerIdFromStorage = localStorage.getItem("player-id");
            if (playerIdFromStorage) {
                document.getElementById("player-id").value = playerIdFromStorage;
            }
            const huntIdFromStorage = localStorage.getItem("hunt-id");
            if (huntIdFromStorage) {
                document.getElementById("hunt-id").value = huntIdFromStorage;
            }
        }

        function loadParagraph() {
            // Load the saved innerHTML from localStorage
            const savedParagraph = localStorage.getItem("paragraphContent");

            if (savedParagraph) {
                // Set the innerHTML of the <p> tag with the saved content
                document.getElementById("myParagraph").innerHTML = savedParagraph;
                alert("Paragraph loaded from LocalStorage!");
            } else {
                alert("No paragraph content found in LocalStorage.");
            }
        }
    </script>
</body>
</html>
